.container-card {
    max-width: 500px;
}

.container.container-card .row {
    align-items: center;
}

.container-card .card-img {
    width: 150px;
}

#wrapper {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000094;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: .4s ease opacity,.4s ease transform;
}

#wrapper.show {
    opacity: 1;
    transform: scale(1);
}

.modal-location.modal {
    display: block;
}

.modal-dialog {
    margin-top: calc(50vh - 100px);
}

.list .list-group-item {
    border: 1px solid black;
    border-top: 0;
    border-radius: 0;
}

.list .list-group-item:hover {
    background-color: #6d6c6c38;
}

/* autocomplete */

.autocomplete {
    position: relative;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
